---
import { fetchKql } from '../lib/kql'
import { ray } from 'node-ray'

const { result } = await fetchKql({
  query: 'page("projects/meine-erde")',
  select: {
    title: true,
    homeLayout: {
      query: 'page.homeLayout.toBlocks',
      select: ['type'],
      models: {
        square: {
          type: true,
          image: {
            query: 'block.image.toFile',
            select: {
              alt: true,
              url: true,
              srcset: 'file.srcset([480, 720, 960])'
            }
          }
        },
        rectangle: {
          type: true,
          image: {
            query: 'block.image.toFile',
            select: {
              alt: true,
              url: true,
              srcset: 'file.srcset([504, 1008, 1512, 2016])'
            }
          }
        }
      }
    }
  }
})
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body></body>
</html>
